<!DOCTYPE html>
<html lang="ru">

<head>
	<title>О себе</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="vCard template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
	<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">
			<div class="header_content d-flex flex-row align-items-center justify-content-start">
				<div class="logo"> ГАРТМАН Н.В. </div>
				<div class="main_nav d-flex flex-row align-items-end justify-content-start" style="margin-left: 238px;">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li class="active"><a href="./about.html">О себе</a></li>
						<li><a href="./experience.html">Информация</a></li>
						<li><a href="./portfolio.html">Портфолио</a></li>
						<li><a href="./contact.html">Контакты</a></li>
					</ul>
				</div>
				<!-- Menu -->
				<div class="menu">
					<div class="menu_content d-flex flex-row align-items-start justify-content-end">
						<div class="hamburger ml-auto">Меню</div>
						<div class="menu_nav text-right">
							<ul>
								<li><a href="./about.html">О себе</a></li>
								<li><a href="./experience.html">Информация</a></li>
								<li><a href="./portfolio.html">Портфолио</a></li>
								<li><a href="./contact.html">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="content_container">
			<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

				<!-- General Information -->
				<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
					<div>
						<div class="general_info_image">
							<div class="background_image" style="background-image:url(../static/images/smith.jpg)">
							</div>
						</div>
					</div>
					<div class="general_info_content">
						<div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
							<div class="general_info_title">Основная информация</div>
							<ul class="general_info_list">
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div
										class="general_info_icon d-flex flex-column align-items-start justify-content-center">
										<img src="../static/images/icon_1.png" alt=""></div>
									<div class="general_info_text">Имя: <span>Гартман Наталья Валерьевна</span></div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div
										class="general_info_icon d-flex flex-column align-items-start justify-content-center">
										<img src="../static/images/icon_6.png" alt=""></div>
									<div class="general_info_text">Местоположение: <span>пгт. Федоровский</span></div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div
										class="general_info_icon d-flex flex-column align-items-start justify-content-center">
										<img src="../static/images/icon_2.png" alt=""></div>
									<div class="general_info_text">Дата рождения: <span>31.10.1969</span></div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div
										class="general_info_icon d-flex flex-column align-items-start justify-content-center">
										<img src="../static/images/icon_3.png" alt=""></div>
									<div class="general_info_text">e-mail: <span>gartman1969@list.ru</span></div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div
										class="general_info_icon d-flex flex-column align-items-start justify-content-center">
										<img src="../static/images/icon_4.png" alt=""></div>
									<div class="general_info_text">Телефон: <span>89519616551</span></div>
								</li>
							</ul>

							<!-- Social -->
							<div class="social_container">
							</div>
						</div>
					</div>
				</div>

				<!-- Main Content -->

				<div class="main_content">
					<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
						<div class="main_subtitle">Сайт учителя физической культуры</div>
						<div class="main_title">Гартман Наталья Валерьевна</div>
					</div>
					<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
						<div class="about_content">
							<div class="about_title"></div>
							<div class="about_text">
								<p> Добро пожаловать на сайт учителя физической культуры МБОУ "Федоровская СОШ №2 с
									углубленным изучением отдельных предметов". Меня зовут Гартман Наталья Валерьевна, и
									я рада приветствовать Вас на своем сайте.
								<p>
								<p>Ресурс предназначен для учителей, обучающихся и их родителей. Основная цель данного
									сайта - обобщение и распространение педагогического опыта. Надеюсь, что каждый
									найдет здесь интересную и полезную для себя информацию.</p>
								<br>
								<div class="about_title">Деятельность</div>
								<div style="margin-top: 0" class="about_text">
									<li><b>Место работы:</b> МБОУ "Федоровская СОШ №2 с углубленным изучением отдельных
										предметов"</li>
									<li><b>Должность:</b> учитель физической культуры</li>
									<li><b>Педагогический стаж:</b> 20 лет</li>
									<li><b>Образование:</b> высшее</li>
									<li><b>Общественная деятельность:</b> судья 2-й категории по полиатлону и ГТО</li>
								</div>
							</div>
						</div>

					</div>



				</div>
				<script src="../static/js/jquery-3.2.1.min.js"></script>
				<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
				<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
				<script src="../static/plugins/greensock/TweenMax.min.js"></script>
				<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
				<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
				<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
				<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
				<script src="../static/plugins/progressbar/progressbar.js"></script>
				<script src="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
				<script src="../static/plugins/easing/easing.js"></script>
				<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
				<script src="../static/js/custom.js"></script>
</body>

</html>