<!DOCTYPE html>
<html lang="ru">
<head>
<title>Информация</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="vCard template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="../static/styles/experience.css">
<link rel="stylesheet" type="text/css" href="../static/styles/experience_responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo"> ГАРТМАН Н.В. </div>
			<div class="main_nav d-flex flex-row align-items-end justify-content-start" style="margin-left: 238px;">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li ><a href="./about.html">О себе</a></li>
					<li class="active"><a href="./experience.html">Информация</a></li>
					<li><a href="./portfolio.html">Портфолио</a></li>
					<li><a href="./contact.html">Контакты</a></li>
				</ul>
				<div class="header_button ml-auto">
				</div>
			</div>
			<!-- Menu -->
	<div class="menu">
		<div class="menu_content d-flex flex-row align-items-start justify-content-end">
			<div class="hamburger ml-auto">Меню</div>
			<div class="menu_nav text-right">
				<ul>
					<li class="active"><a href="./about.html">О себе</a></li>
					<li class="active"><a href="./experience.html">Информация</a></li>
					<li><a href="./portfolio.html">Портфолио</a></li>
					<li><a href="./contact.html">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
		</div>
	</header>

	<div class="content_container">
		<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- General Information -->
			<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
				<div>
					<div class="general_info_image">
						<div class="background_image" style="background-image:url(../static/images/smith.jpg)"></div>
					</div>
				</div>
				<div class="general_info_content">
					<div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
						<div class="general_info_title">Основная информация</div>
						<ul class="general_info_list">
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_1.png" alt=""></div>
								<div class="general_info_text">Имя: <span>Гартман Наталья Валерьевна</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_6.png" alt=""></div>
								<div class="general_info_text">Местоположение: <span>пгт. Федоровский</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_2.png" alt=""></div>
								<div class="general_info_text">Дата рождения: <span>31.10.1969</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_3.png" alt=""></div>
								<div class="general_info_text">e-mail: <span>gartman1969@list.ru</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_4.png" alt=""></div>
								<div class="general_info_text">Телефон: <span>89519616551</span></div>
							</li>
						</ul>

						<!-- Social -->
						<div class="social_container">
						</div>
					</div>
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_title">Информация</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
					
					<!-- Experience -->

					<div class="experience">
						
						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">22.10.2022</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">Комплекс ГТО - "с папой легко"</div>
								</div>
								<div class="exp_text">
									<p> 22.10.2022 года на базе СК "Лидер", г.п. Барсово состоялось
										первое в своем роде для нашего района спортивное мероприятие
										"Комплекс ГТО - с папой легко". В напряженнейшей борьбе сошлись
										16 команд со всего муниципалитета. Участники проверяли свои силы
										и командный дух в следующих дисциплинах: 
										<br><b>Для детей I и II ступени:</b>
										<br><li>Наклон вперед из положения стоя</li>
										<br><li>Прыжок в длину с места</li>
										<br><li>Подтягивание из виса на низкой перекладине</li>

										<br><b>Для отцов:</b>
										<br><li>Наклон вперед из положения стоя</li>
										<br><li>Сгибание и разгибание рук в упоре лежа или рывок гири 16 кг</li>
										<br><li>Стрельба из электронного оружия</li>
									</p>

									<table style="border-collapse: separate; background-color: transparent" border="0" bgcolor="white" cellspacing="10" cellpadding="100">
										<tr><td><img src="../static/images/picture2.jpg" width="450" height="300"></td>
										<td><img src="../static/images/picture3.jpg" width="450" height="300"></td>
										<td><img src="../static/images/picture4.jpg" width="450" height="300"></td></tr></table>
										<table style="border-collapse: separate; background-color: transparent" cellspacing="10" border="0" bgcolor="white">
											<tr>
                                                <td><img src="../static/images/BEvjiIFKqF.jpg" width="450" height="300"></td>
											    <td><img src="../static/images/y42oCCeet7.jpg" width="450" height="300"></td>
											</tr>
                                        </table>
								</div>
							</div>
						</div>

						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">30.04.2022</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">Фестиваль ВФСК "ГТО" среди семейных команд</div>
								</div>
								<div class="exp_text">
									<p> 30.04.2022 года в г.п. Барсово прошел муниципальный этап
										фестиваля ВФСК "ГТО" среди семейных команд Сургутского района.
										Девять семей из 6 муниципалитетов сошлись в борьбе за право выступать 
										на региональном этапе, который пройдет в г. Ханты-Мансийск 13-15 мая.
										<br>В программу фестиваля входили следующие испытания:
										<br><li>Бег 30м</li>
										<br><li>Наклон вперед из положения стоя</li>
										<br><li>Сгибание и разгибание рук в упоре лежа на полу</li>
										<br><li>Подтягивания из виса лежа на низкой перекладине 90см</li>
										<br><li>Рывок гири 16кг</li>
										<br><li>Подъем туловища из положения лежа на спине</li>
										<br><li>Бег 2000м</li>
										<br><li>Бег 3000м</li>
										<br><li>Смешанное передвижение 2000м</li>
									</p>
										<img src="../static/images/picture1.jpg" width="600" height="450">
								</div>
							</div>
						</div>

						
					</div>

				</div>
			</div>
		</div>
</div>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/experience.js"></script>
</body>
</html>